body{
    font-family: 'Roboto', sans-serif;

    width: 375px;

    margin: auto;
}
header{
    background-color: #C3CFD9;

    height: 67px;


    color: #E8833A;
    font-size: 34px;
    line-height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin:41px 0;

    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #293845;
}
button{
    background: #E8833A;
    border: 0;
    border-radius: 3px; 

    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
a{
    display: flex;
    justify-content: center;
}