.sucess h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #247A6B;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}
.sucess h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #293845;

    padding-left: 30px;
    margin: 40px 0 5px;
}
.sucess p{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #293845;

    padding-left: 30px;
}
.sucess button{
    margin: 70px 0 30px;
    height: 52px;
    width: 225px;
}